# Compiled files
out/
cache/
artifacts/
build/

# Node/VSCode specific
node_modules/
.vscode/
.DS_Store

# Foundry broadcast logs
/broadcast/
/broadcast/*/31337/
/broadcast/**/dry-run/

# Ignore installed libraries (can reinstall via forge install)
lib/

# Temporary test output / logs
*.log

# Ignore any secrets or env files
.env
